// List of colours

$color-white: #fff;
$color-black: #212121;
$color-grey: #f5f5f5;
$color-dark-grey: #636363;
$color-blue: #0055de;
$color-red: #ff6564;

$color-blue-gradient-start: #2979fb;
$color-blue-gradient-end: #003790;
$color-box-shadow: rgba(33,33,33,.1);
