@font-face {
  font-family: 'Lifeworks';
  src: url(../fonts/lifeworks-regular.woff2) format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'Lifeworks';
  src: url(../fonts/lifeworks-semibold.woff2) format('woff2');
  font-weight: 700;
}
